<html>
<head>
  <title>redirect...</title>
</head>
<script>setTimeout(function(){location.href="$req.contextPath/pages/viewpage.action?pageId=$page.id";}, 0);</script>
    #applyDecorator("root")
        #decoratorParam("context" "$action.page.getType()")
        <body>
		  <a href="$req.contextPath/pages/viewpage.action?pageId=$page.id">移動しない場合はこちら</a>
        </body>
    #end
</html>
