#set ($confPage = $action.page)
#set ($helper = $action.helper)
#set ($pageType = $confPage.getType())
#set ($page_title = $i18n.getText("conf2dita.action.import.title.label", $confPage.getTitle()))
#parse("/templates/velocimacro.vm")

<html>
<head>
  <title>$page_title(STEP2) #if($page.title) - $page.title#end</title>
</head>

    <content tag="title-text-span">$page_title</content>

    <!-- call the page decorator -->
    #applyDecorator("root")
        #decoratorParam("helper" $helper)
        #decoratorParam("mode" "view-custom-attachment")
        #decoratorParam("context" "$pageType")

    <body>
	 <h3>$i18n.getText("conf2dita.action.import.plzinputcomment.label")</h3>
	  
	 
	 #fListErrors()
	  
	 #parse ( "/templates/xwork/pages/importdita/zipinfo.list.vm" )
       
##	<form method="POST" name="uploadexportform" class="aui max-width" action="./import-do.action">
	#applyDecorator("form-aui")
	  #decoratorParam("method" "POST")
	  #decoratorParam("enctype" "multipart/form-data")
	  #decoratorParam("formName" "uploadFile")
	  #decoratorParam("submitAction" "import-do.action")
	  #tag("Hidden" "name='pageId'" "value=$page.id" )
	  #bodytag ("Radio" "label='conf2dita.action.import.options.hierarchy.rule.label'" "list=hierarchyRuleOptions" "name='hierarchyRuleOption'" "value=hierarchyRuleOption" "theme='aui'" "template='radiolist.vm'" "listKey=value" "listValue=key")
	       #param("displayValue" $hierarchyRuleOptionDisplay)
	  #end
	  #bodytag("TextField" "label='conf2dita.action.import.comment.label'" "name='importComment'" "theme='aui'")
			#param("longField" "true")
			#param("description" $i18n.getText('conf2dita.action.import.comment.description'))
	  #end
	  #bodytag("Submit" "theme='aui'")
	      ##param("cancelValue" "")
	  #end
	#end

    </body>
    #end
</html>
